---
import "../../public/global.css";
import { CreatePaymentButton } from "@/components/create-payment-button";
import WalletIframeDialog from "@/components/wallet-iframe-dialog.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/global.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SPC dApp</title>
	</head>
	<body class="flex flex-col items-center justify-center h-screen">
		<main class="flex flex-col items-center justify-evenly min-h-[20vh]">
			<h1>SPC dApp</h1>

			<WalletIframeDialog />
			<CreatePaymentButton client:only />
		</main>
		<script>
			import { getPaymentOrigin } from "../lib/utils";
			const paymentOrigin = getPaymentOrigin();

			window.addEventListener("message", (e) => {
				if (e.origin !== paymentOrigin) {
					return;
				}
				if (e.data.paid !== undefined) {
					alert(
						`Payment ${e.data.paid ? "succeeded" : "failed"}. Credential ${e.data.registered ? "registered" : "not registered"}`,
					);
					location.href = "/success";
				} else {
					console.log("recieved message", e.data.message);
				}
			});
		</script>
	</body>
</html>
