---
import "../../public/global.css";

import { Button } from "@/components/ui/button";

const isDev = import.meta.env.DEV;
const domain = isDev ? "loca.lt" : "web.app";
const paymentOrigin = `https://spc-wallet.${domain}`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SPC dApp</title>
	</head>
	<body class="flex flex-col items-center justify-center h-screen">
		<h1>SPC dApp</h1>

		<iframe name="iframe" allow={`payment ${paymentOrigin}`}></iframe>

		<Button>Create Payment</Button>
	</body>
</html>
