---
import "../../public/global.css";
import { UsernameForm } from "../components/forms/username";

const isDev = import.meta.env.DEV;
const domain = isDev ? "loca.lt" : "web.app";
const payeeOrigin = `https://spc-dapp.${domain}`;

// - handle the form submission
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SPC Wallet</title>
	</head>
	<body class="flex flex-col items-center justify-center h-screen">
		<h1>SPC Wallet</h1>

		<UsernameForm client:only />
	</body>
</html>
